__pycache__
dist
build
.zedstate
.idea
*.suo
*.egg-info
*.pyc
*.user
.ipynb_checkpoints

.coverage
.cache/
.mypy_cache/
.vscode/

coverage.xml
.eggs

# uv
.venv

# Ruff
.ruff_cache/

# Pyright
.pyright/
